rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hosts/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /fings/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /emails/{document=**} {
      allow read: if true;
      allow write: if true;
    }
    match /openai/{document=**} {
      allow read: if true;
      allow write: if true;
    }
  }
}