@font-face {
  font-family: "gotham";
  src: url("./gotham/GothamBlack.otf");
}

@font-face {
  font-family: "GothamBlack";
  src: url("./gotham/GothamBlack.otf");
}

@font-face {
  font-family: "gothamBold";
  src: url("./gotham/GothamBold.otf");
}

