a { color: #22939C; text-decoration: none; cursor: pointer; }
a:hover { color: #126970; }
blockquote {
  border-left: 3px solid #22939C;
  margin: 0;
  padding: 0;
  padding-left: 16px;
}
html {
  --thumbBG: #22939C;
  --scrollbarBG: none;
}
pre {
  font-size: 0.8rem;
}
ul li { list-style: none; margin: 0; padding: 0; }
code {
  font-family: Monaco, "Courier New", monospace;
}
body::-webkit-scrollbar {
  width: 8px;
}
body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 4px solid var(--scrollbarBG);
}
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-bottom-left {
  display: none;
}
