html {
  --thumbBG: #C09F52;
  --scrollbarBG: none;
}
::-webkit-scrollbar-thumb {
  background: #C09F52;
}
::-webkit-scrollbar-thumb:hover {
  background: #9e854c;
}
a { 
  color: #C09F52; 
  text-decoration: none;
  font-weight: bold;
}
a:hover { 
  color: #9e854c;
}
blockquote {
  border-left: 3px solid #C09F52;
  margin: 0; padding: 0;
  padding-left: 16px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 8px;
  margin-top: 8px;
  padding: 0px;
}
img {
  max-width: 100%;
}
pre {
  font-size: 0.8rem;
}
code {
  font-family: Monaco, monospace;
}
body::-webkit-scrollbar {
  width: 4px;
}
body {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 4px;
  border: 4px solid var(--scrollbarBG);
}
.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-bottom-left {
  display: none;
}
